* {
  font-family: "Inter", sans-serif;
  --primary: rgb(138, 56, 214);
  --primary-dark: rgb(108, 46, 165);
  --grey: rgb(44, 44, 44);
  --dark-grey: rgb(22, 22, 22);
  --light-grey: rgb(70, 70, 70);
  --ultra-light-grey: rgb(94, 94, 94);
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.float-button {
  display: none;
}

.container {
  overflow: hidden;
  height: 100%;
  display: grid;
  grid-template-columns: 5rem auto;
  grid-template-rows: auto 4rem;
  grid-template-areas:
    "nav main"
    "nav message";
}

.menu-bar {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  background-color: var(--grey);
}

.menu-bar span {
  color: var(--primary);
  font-size: 1rem;
  font-weight: 100;
  margin: 1rem;

  text-transform: uppercase;
}

.menu-bar span strong {
  font-weight: 800;
  color: white;
}

.menu-bar hr {
  width: 50%;
  border-color: grey;
}

.menu-item {
  height: 2rem;
  width: 2rem;

  padding: 0.5rem;
  margin: 0.5rem;

  background-color: var(--light-grey);
  color: white;

  text-align: center;
  font-size: 1.5rem;

  border-radius: 50%;
  cursor: pointer;

  transition: all 0.4s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item:hover {
  background-color: var(--primary);
  border-radius: 35%;
  font-size: 1.7rem;
}

.content {
  grid-area: main;
  background-color: var(--dark-grey);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.messages {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.content-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1rem 0;
}

.text {
  margin: 0.6rem 0 0 4rem;
}

/* Twitch link */
.text a {
  color: var(--primary);
  text-decoration: none;
}
.text a:hover {
  color: var(--primary-dark);
}
/* --------- */

.content-header {
  padding-left: 2rem;
  display: flex;
  align-items: center;
  font-weight: bold;

  cursor: pointer;

  /* desabilita seleção de texto */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.avatar {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--primary);
  margin-right: 0.5rem;
}

.input {
  grid-area: message;
  width: 100%;

  height: 4rem;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: "message button";
}

.input input {
  grid-area: message;
  height: 97%;
  border: none;
  font-size: 1.2rem;
  padding-left: 1rem;

  background-color: var(--light-grey);
  color: white;
}

.input input:focus {
  outline: none;
  background-color: var(--ultra-light-grey);
}
.input input:hover {
  background-color: var(--ultra-light-grey);
}

.input button {
  grid-area: button;
  bottom: 0;
  height: 100%;
  border: none;
  background-color: var(--primary);
  transition: background-color 0.4s ease-in-out;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.input button:hover {
  background-color: var(--primary-dark);
}
